{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css' %}">
{% endblock %}
{% block page_content %}
<section class="content-header">
    <div class="box box-primary col-md-12">
        <div class="box-header with-border" style="text-align: center;">
            <h3 class="box-title"><b>List Nilai</b></h3>
        </div>
        <div style="width: 100%;">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered" id ="myTable">
                    <thead>
                        <tr> 
                            <th style="text-align:center;"> Tanggal </th>
                            <th style="text-align:center;"> Nama Kuis </th> 
                            <th style="text-align:center;"> Nama Pelajaran </th>
                            <th style="text-align:center;"> Nilai </th> 
                            <th style="text-align:center;"> Aksi </th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% if nilai %}
                        {% for list_nilai in nilai %}
                        <tr>
                            <td>{{list_nilai.date}}</td>                        
                            <td>{{list_nilai.kuis}}</td>
                            <td>{{list_nilai.kuis.pelajaran}}</td>
                            <td>{{list_nilai.nilai}}</td>
                            <td><a href="{% url 'printnilai' list_nilai.id_nilai %}" class="btn btn-xs btn-success"><i class="fa fa-print"></i> Print</a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5"><center>Tidak ada data Nilai saat ini...</center></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            "lengthChange": false,
            "pageLength": 9,
            "dom": '<"top"i><"bottom"rftp><"tfoot">',
        });
        $("div.tfoot").html('<h4><b>Rata Rata : {{ratarata.nilai__avg}}</b></h4>');
    });
</script>
{% endblock %}