{% extends  "layout/admin/base-admin.html" %}
{% block page_content %}
<section class="content-header">
    <div class="box box-primary col-md-12">
        <div class="box-header with-border" style="text-align: center;">
            <h3 class="box-title"><b>Materi Matematika</b></h3>
        </div>
        <br>
        {% if ambil_materi %}
        <embed src="{% url 'pdfmm' %}" style="width:918px; height:480px;  right: 0;  position: absolute;" frameborder="0">
            {% endif %}
            <div style="width: 165px;">
                <form action="{% url 'mainmm' %}" method="POST">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr> 
                            <th style="width: 40px;text-align:center;"> List Materi </th> 
                        </tr>
                        {% if ambil_materi %}
                        {% for list_materi in ambil_materi %}
                        <tr>
                            <td><input type="radio" value="{{list_materi.File_Pdf}}" name="materi">{{list_materi.nama_materi}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td><center>Tidak ada data Materi saat ini...</center></td>
                        </tr>
                        {% endif %}
                    </table>
                    <input type="submit" class="btn btn-primary" value="Lihat">
                </form>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    {% endblock %}