{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<style>
.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
    height: 100px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header th, .fixed_header td {    
  text-align: left;
  width: 900px;
}
</style>
{% endblock %}

{% block page_content %}

<section class="content-header">
<div style="margin: 120px auto;">
    {% if request.session.level == "Siswa" %}
    <h2 style="text-align: center; text-transform: uppercase;">SELAMAT DATANG, {{request.session.nama}} !</h2>
    <h3 style=" margin-left: 70px; margin-right: 70px; text-align: justify">
        E-learning adalah suatu sistem atau konsep pendidikan yang memanfaatkan teknologi informasi dalam proses belajar mengajar.
    {% endif %}

    </h3>
    <br/>
    <br/>
    <br/>
    </di>
</section>
{% endblock %}